body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

/* Dashboard container */
.dashboard {
  width: 90%;
  max-width: 1000px;
  width: 45vw;
  margin: 20px auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 16px;
  box-shadow: 0 8px 62px 10px rgba(120, 172, 236, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background: linear-gradient(180deg, #816fe8, #4b0082);
}

/* Top bar */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.welcome {
  font-size: clamp(1.2rem, 1.3vw, 1.8rem); /* responsive font */
  font-weight: bold;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.balance {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: bold;
  font-size: clamp(0.8rem, 1vw, 1.2rem);

  color:rgb(9, 255, 9);
}

/* Buttons */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.btn {
  padding: 1rem;
  font-size: clamp(0.75rem, 2vw, 1.2rem);
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  width: 100%;
}

.single {
  background-color: #8000ff;
}

.multi {
  background-color: #4b0082;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Media Queries */

/* Tablets */
@media (min-width: 600px) {
  .button-group {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    width: auto;
    flex: 1;
  }

  .top-bar {
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .dashboard {
    padding: 2rem 3rem;
  }

  .welcome {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1.2rem 2rem;
  }

}

/* Small screens */
@media (max-width: 400px) {
  .top-bar {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
  }

  .dashboard{
    padding: 0.5rem;
  }

  .button-group {
    flex-direction: column;
  }

  .balance{
    font-size: 10px !important;
  }

  .logout{
    font-size: 12px;
  }
}

.game,.game:hover{
  color: white;
}
